@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

main {
    background-image: url('../assets/header-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
    margin-top: -10px;
}

.button {
    width: 188px;
    height: 48px;
    font-family: Montserrat-Regular;
    font-size: 18px;

    border: 1px solid;
    border-radius: 5px;
    background: none;
    text-transform: uppercase;
    transition: all 0.35s ease;
}

.white-button {
    border-color: #ffffff;
    color: #ffffff;
}

.light-blue-button {
    border-color: #00ffff;
    color: #00ffff;
}

.green-button {
    border-color: #5D8383;
    color: #5D8383;
}

.white-button:hover {
    filter: drop-shadow(0px 0px 7px #ffffff);
}

.light-blue-button:hover {
    filter: drop-shadow(0px 0px 7px #00ffff);
}

.green-button:hover {
    filter: drop-shadow(0px 0px 7px #5D8383);
}

.app-header {
    position: relative;
}

.app-header::after {
    content: '';

    position: absolute;
    width: 493px;
    height: 436px;
    background-image: url('../assets/illustration.png');
    background-repeat: no-repeat;
    top: 77px;
    right: 67px;
}

.app-navigation {
    display: flex;
    justify-content: space-between;

    width: 1104px;
    margin-top: 10px;
}

.app-menu {
    list-style: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    width: 150px;
    padding: 0;
}

.app-logo {
    font-family: Montserrat-Bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 8px;

    display: block;
    
    width: 100px;
    height: 29px;
    border-right: 1px solid #ffffff;

    margin-top: -8px;
}

.app-search {
    width: 150px;
    height: 45px;
    background: none;

    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #5D8383;

    border: none;
    border-bottom: 1px solid #5D8383;

    margin-right: 600px;
}

.app-search:focus {
    outline: none;
}

.search-button {
    width: 150px;
    height: 30px;

    font-size: 14px;
    
    margin-left: 50px;
    margin-top: -4px;
}

.app-authorization {
    width: 176px;
    list-style: none;

    padding: 0;
    margin-top: 12px;

    display: flex;  
    justify-content: space-between;
}

.auth-button {
    width: 73px;
    height: 30px;

    font-size: 12px;
}

.app-header {
    margin-left: 195px;
}

.app-title {
    margin-top: 100px;
}

.app-description {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #ffffff;
    
    margin-top: 0;
    margin-bottom: 11px;
}

  
.main-title {
    font-family: Montserrat-Regular;
    font-size: 48px;
    color: #ffffff;

    display: inline-block;
    width: 446px;

    margin: 0;
}

.app-title__button-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    width: 385px;

    padding: 0;
    margin-top: 32px;
    margin-bottom: 0;
}

.url-input-form {
    position: relative;
}

.url-input {
    width: 1084px;
    height: 50px;

    border: 1px solid #5D8383;
    border-radius: 5px;

    margin-top: 209px;
    margin-left: 193px;

    font-family: Montserrat-Regular;
    font-size: 18px;
    padding-left: 20px;
}

.url-input--authorized-user {
    margin-top: 209px
}

.shorten-button {
    width: 89px;
    height: 43px;

    font-size: 14px;

    position: absolute;

    top: 214px;
    right: 227px;
}

.url-input:focus {
    outline: none;
}

.url-input__notification {
    width: 289px;
    height: 30px;
    display: block;
    text-align: center;

    margin-top: 12px;
    margin-left: 621px;

    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;
}

.page-footer {
    width: 100%;
    height: 166px;

    border-top: 1px solid #5D8383;

    margin-top: 97px;

    text-align: center;
}

.page-footer-title {
    font-family: Montserrat-Bold;
    font-size: 24px;
    color: #5D8383;
    text-transform: uppercase;

    margin-top: 40px;
    margin-bottom: 0px;
}

.page-footer-app-description {
    width: 289px;

    display: inline-block;

    margin-top: 13px;
    
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;
}

.auth-block {
    width: 357px;
    text-align: center;

    margin-left: 568px;
    margin-top: 110px;
}

.auth-title {
    font-family: Montserrat-Bold;
    font-size: 24px;
    color: #5D8383;

    margin-top: 0px;
    margin-bottom: 28px;
}

.auth-form {
    height: 304px;
    border: 1px solid #5D8383;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

.login-form {
    height: 260px;
}

.auth-input {
    width: 291px;
    height: 47px;

    border: 1px solid #5D8383;
    border-radius: 5px;

    padding-left: 15px;

    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #5D8383;
}

.auth-input:focus {
    outline: none;
}

.authorize-button {
    width: 306px;
    height: 47px;

    background-color: #5D8383;

    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #ffffff;
}

.auth-fail-message {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #5D8383;
}

.auth-subtitle {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #5D8383;

    margin-top: 39px;
    margin-bottom: 12px;
}

.other-auth-method-button {
    width: 261px;
    height: 47px;

    font-size: 14px;
}

.authorized-user {
    display: none;
}

.username-link {
    text-decoration: none;
}

.authorized-user-name {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #ffffff;

    margin-top: 5px;
    margin-bottom: 31px;
    text-decoration: none;
}

.green-user-name {
    color: #5D8383;
}

.profile-header {
    margin-left: 195px;
}

.logo-link {
    text-decoration: none;
    height: 30px;
}

.green-logo {
    color: #5D8383;
    border-color: #5D8383;
}

.auth-logo {
    margin-left: 195px;
    margin-top: 16px;
}

.profile-navigation {
    margin-top: 0px;
}

.profile-logout {
    width: 76px;
}

.profile-title {
    font-family: Montserrat-Regular;
    font-size: 48px;
    color: #5D8383;

    display: inline-block;
    width: 670px;

    margin: 0;
    margin-top: 100px;
    margin-left: 0px;
}

.profile-subtitle {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;
    
    margin: 0;
    margin-left: 10px;
    margin-bottom: 42px;
}

.profile-links-list {
    width: 1106px;

    margin-top: 0px;
    margin-left: 193px;
    margin-bottom: 50px;
}

.profile-links-clicks-amount {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;

    margin-top: 0px;
}

.profile-link-block {
    text-decoration: none;
}

.profile-link-info {
    width: 1104px;

    border: 1px solid #5D8383;

    margin-top: 24px;
}

.profile-link-title {
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: #5D8383;

    margin-left: 20px;
    margin-top: 20px;
}

.profile-link-your-link {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;

    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.profile-link-more {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;

    margin-left: 20px;
    margin-bottom: 20px;
}

.loader {
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: #5D8383;

    margin-left: 675px;
    margin-top: 80px;
}

.error-loader {
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: #5D8383;

    margin-left: 525px;
    margin-top: 80px;
}

.link-card {
    margin-top: 30px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
}

.back-button {
    width: 100px;
    height: 40px;

    font-size: 16px;
}

.link-card-title {
    font-family: Montserrat-Bold;
    font-size: 24px;
    color: #5D8383;
}

.link-card p {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;

    width: 1000px;
}

.edit-button {
    width: 130px;
    height: 45px;

    font-size: 16px;
}

.link-card-editor__textarea {
    display: block;
    width: 400px;
    height: 50px;

    border: 1px solid #5D8383;
    border-radius: 5px;

    font-family: Montserrat-Regular;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;

    margin-bottom: 20px;

    resize: none;
}

.link-card-editor__textarea:focus { 
    outline: none
}

.shortener-navigation {
    margin-top: 0px;
    margin-left: 195px;
}

.shortener-block {
    margin-top: 70px;
    margin-left: 195px;
}

.shortener-title {
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: #5D8383;
}

.shortener-form {
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shortener-form__link-input {
    width: 700px;
    height: 50px;

    border: 1px solid #5D8383;
    border-radius: 5px;

    font-family: Montserrat-Regular;
    font-size: 18px;
    padding-left: 20px;
}

.shortener-form__link-input:focus {
    outline: none;
}

.shortener-form__textarea {
    width: 700px;
    height: 100px;

    border: 1px solid #5D8383;
    border-radius: 5px;

    font-family: Montserrat-Regular;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;

    resize: none;
}

.shortener-form__textarea:focus {
    outline: none;
}

.shortening-block__notification {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;
}

.search-header {
    margin-left: 195px;
}

.search-navigation {
    margin-top: 0;
}

.search-header__title {
    font-family: Montserrat-Regular;
    font-size: 48px;
    color: #5D8383;

    display: inline-block;
    width: 670px;

    margin: 0;
    margin-top: 100px;
}

.search-header__description {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #5D8383;
    
    margin: 0;
    margin-bottom: 42px;
}

.searched-links-error {
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: #5D8383;

    margin-left: 200px;
}

.searched-links-list {
    margin-left: 195px;
}